*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.navbar{
    background-color: rgb(70, 70, 70);
}

.comprar{
    color: limegreen;
}

nav div .navbar-nav a:hover {
    color: white;
}

.footer-background{
    background: rgb(6,72,91);
    background: linear-gradient(90deg, rgba(6,72,91,1) 0%, rgba(15,118,139,1) 100%);
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}